<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <compropago_payments>
                <active>0</active>
                <model>Compropago\Payments\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>ComproPago (Paga en OXXO, 7Eleven,etc.)</title>
             	<showlogos>1</showlogos>
             	<live_mode>1</live_mode>
                <allowspecific>0</allowspecific>
                <min_order_total>3</min_order_total>
                <max_order_total>30000</max_order_total>
            </compropago_payments>
        </payment>
    </default>
</config>
