<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <compropago_config>
                <model>Compropago\Payments\Model\Config</model>
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <live_mode>0</live_mode>
            </compropago_config>

            <compropago_cash>
                <model>Compropago\Payments\Model\Cash</model>
                <active>0</active>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>Pago en efectivo</title>
                <verified_payment_message>Hemos recibido su pago con éxito. Su pedido esta en camino.</verified_payment_message>
                <allowspecific>0</allowspecific>
                <min_order_total>5</min_order_total>
                <active_providers>*</active_providers>
            </compropago_cash>

            <compropago_spei>
                <model>Compropago\Payments\Model\Spei</model>
                <active>0</active>
                <order_status>pending</order_status>
                <title>Transferencia Bancaria</title>
                <verified_payment_message>Hemos recibido su pago con éxito. Su pedido esta en camino.</verified_payment_message>
                <allowspecific>0</allowspecific>
                <min_order_total>5</min_order_total>
                <payment_action>authorize</payment_action>
            </compropago_spei>
        </payment>
    </default>
</config>