/*#compropagoWrapper li{
    display:inline-block; padding:5px;
}

#compropagoWrapper input {
    position:absolute;
    display:none;
}

#compropagoWrapper input[type="radio"]:checked + label img{
    border: solid 4px #00AAEF;
    cursor: pointer;
    opacity: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3), 0px 0px 0px 4px rgba(0,170,239,1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3),0px 0px 0px 4px rgba(0,170,239,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3),0px 0px 0px 4px rgba(0,170,239,1);
}

#compropagoWrapper input[type="radio"] + label img{
    cursor: pointer;
    opacity: .6;
    border: solid 4px transparent;
}

#compropagoWrapper img{
    width:80px;
}

#compropagoWrapper input[type="radio"] + label img{
    cursor: pointer;
}


#compropagoWrapper input[type="radio"]:indeterminate + label img{
    opacity: 1;
}*/


.stores-compact input[type="radio"]{
    display: none;
    position: absolute;
}


.stores-compact {
    background: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    float: left;
}
.stores-compact .cp-provider {
    display: block;
    width: 75px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 3px;
    position: relative;
    transition: all .2s linear;
    box-shadow: none;
    opacity: 0.7;
}
.stores-compact .cp-provider:hover{
    opacity: 1;
}
.stores-compact input[type="radio"]:checked + .cp-provider {
    box-shadow: 0 0 6px 3px #00aaef;
    opacity: 1;
}
.stores-compact .cp-provider img {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%
}